<div id="demo-apply" class="container">
    <h1>tasucaruご利用の流れ</h1>
    <h2>簡単4つのステップ</h2>
    <ul>
      <li class="step">
        <h3>1. LINE@に登録します</h3>
        <div class="step-explanation">
          <div class="step-message">
            右のボタンから、もしくはバーコードから、tasucaru公式アカウントと友達になってください。
          </div>
          <div class="step-img">
            <%= image_tag "http://qr-official.line.me/L/IwHhomCH_P.png", class: "line-qr" %>
            <a href="https://line.me/R/ti/p/%40gob8789o"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
          </div>
        </div>
      </li>
      <div class="arrow"></div>
      <li class="step">
        <h3>2. 案内にしたがって希望日時を送信します</h3>
        <div class="step-explanation">
          <div class="step-message">
            友達に登録すると、案内メッセージが送られてきます。
            それにしたがって、希望日時を送ってください。
          </div>
          <div class="step-img">
            <%= image_tag "message.jpg" %>
          </div>
        </div>
      </li>
      <div class="arrow"></div>
      <li class="step">
        <h3>3. クルーと日時が決まったら連絡がきます</h3>
        <div class="step-explanation">
          <div class="step-message">
            訪問するクルーが決まったら、tasucaru公式アカウントから、日時とスタッフについい連絡がきます。
          </div>
          <div class="step-img">
            <%= image_tag "worker.jpg" %>
          </div>
        </div>
      </li>
      <div class="arrow"></div>
      <li class="step">
        <h3>4. クルーが来るまでにやってほしいことを頼みます</h3>
        <div class="step-explanation">
          <div class="step-message">
            クルーが訪問するまでに、やってほしいことをtasucaru公式アカウントに伝えてください。
          </div>
          <div class="step-img">
            <%= image_tag "message.jpg"%>
          </div>
        </div>
      </li>
    </ul>
</div>
