@import "loader";

.landing-footer {
  background: $theme2;
  height: 333px;
  .footer-content {
    height: 238px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 55px 194px 40px;
    position: relative;
    color: white;
  }
  .footer-high {
    display: flex;
    justify-content: space-between;
    a.footer-logo {
      img.logo {
        height: 60px;
        margin: 0;
        flex-basis: auto;
      }
    }
    ul.footer-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      li {
        line-height: 16px;
        a {
          font-size: 24px;
          line-height: 50px;
          color: white;
          text-decoration: none;
        }
      }
      span.bar {
        margin: 0 10px;
        border-left: 1px solid white;
        height: 16px;
      }
    }
    .footer-line {
      margin-top: 20px;
      .line-link {
        margin-bottom: 24px;
        p {
          font-size: 24px;
          margin: 0 0 20px;
          line-height: 28px;
        }
        a {
          img {
            width: 160px;
          }
        }
      }
      .footer-logo {
        width: 347px;
        img {
          width: 100%;
        }
      }
    }
  }
  .footer-copyright {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}
