@import "loader";

.landing-footer {
  background: $theme;
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 120px;
    position: relative;
    color: white;
    p {
      margin: 1em 0 0;
    }
  }
  .footer-high {
    display: flex;
    justify-content: space-between;
    a.footer-logo {
      img.logo {
        height: 60px;
        margin: 0;
        flex-basis: auto;
      }
    }
    ul.footer-list {
      display: flex;
      flex-basis: calc(100% - 440px);
      list-style: none;
      margin-top: 20px;
      li {
        line-height: 16px;
        a {
          color: white;
          text-decoration: none;
        }
      }
      span.bar {
        margin: 0 10px;
        border-left: 1px solid white;
        height: 16px;
      }
    }
    .footer-line {
      width: 160px;
      margin-top: 20px;
      p {
        margin: 0 0 6px;
        line-height: 16px;
      }
      a {
        img {
          width: 160px;
        }
      }
    }
  }
  .footer-copyright {
    font-size: 12px;
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}
