@import "loader";

.landing-header {
  height: 121px;
  width: 100%;
  background: white;
  .landing-content {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: space-between;
    a.header-logo {
      height: 121px;
      img {
        margin: 30px 20px;
        height: 60px;
      }
    }
    .header-links {
      display: flex;
      font-size: 24px;
      line-height: 24px;
      margin: 48px 83px 48px 0;
      a.header-link {

      }
      span {
        margin: 0 30px;
        border-left: 2px solid black;
      }
    }
  }
}
