@import "loader";

body#landing {
  position: relative;
  .container {
    max-width: 1200px;
    margin: 0 auto 60px;
  }
  .button {
    color: white;
    background: $theme;
    font-size: 16px;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    &:hover {
      background: lighten($theme, 6%);
    }
  }
  .align-center {
    display: block;
   margin: 0 auto;
   text-align: center;
   width: fit-content;
  }
}
