<nav>
  <%= link_to root_path do %>
    <%= image_tag 'sample.jpg', style: ""%>
  <% end %>
  <div class="user-sign">
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
  </div>
</nav>
