ul#products.list {
  list-style: none;
  li.product-cell {
    width: 30%;
    float: left;
    margin-bottom: 24px;
    a {
      text-decoration: none;
      .image {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
      p {
        text-align: center;
        margin: 6px 0;
      }
    }
  }
}
