@import "loader";

nav {
  height: 60px;
  border-bottom: solid 1px black;
  max-width: 1000px;
  margin: 0 auto 60px;
  img {
    height: 30px;
    margin: 15px 0;
    float: left;
  }
  .user-sign {
    height: 60px;
    line-height: 60px;
    float: right;
    a {
      margin-right: 8px;
    }
  }
}
