.welcome {
  max-width: 1200px;
  margin: 0 auto;
  h1 {

  }
  .category {
    width: 100%;
    h2 {

    }
    .cell {
      width: 30%;
      display: inline-block;
      iframe {
        width: 100%;
      }
    }
  }
}
