<ul id="products" class="list clearfix">
  <% categories.each do |c| %>
    <li class="product-cell">
      <%= link_to category_path(c) do %>
        <%= image_tag c.image_url, class: "image" %>
        <p><%= c.name %></p>
      <% end %>
    </li>
  <% end %>
</ul>
