@import "loader";

 #demo-index {
   .top-image {
     width: 100%;
     margin-bottom: 12px;
   }

   .apply-button {
     margin-top: 12px;
   }

   .section {
     padding: 120px 20px 200px;
     max-width: 1200px;
     margin: 0 auto 36px;
     h2 {
        margin: 0 0 16px 0;
        font-size: 40px;
     }
     .explain {
       font-size: 20px;
       line-height: 170%;
     }
   }

   .index-header {
     background-image: asset-url('header-img.png');
     background-repeat: no-repeat;
     background-size: 100% auto;
     padding: 320px 80px 60px;
     color: white;
     h1 {
       font-size: 84px;
       line-height: 95px;
       text-align: center;
       margin: 0 auto 69px;
       color: white;
     }
     .header-explain {
       font-size: 24px;
       line-height: 1.5em;
       text-align: center;
       margin: 0 auto 65px;
       width: 100%;
     }
     .header-apply {
       text-align: center;
       height: 74px;
       a.header-apply-btn {
         border: 1px solid #979797;
         padding: 20px 36px;
         display: inline-block;
         margin: 0;
         font-size: 32px;
         line-height: 32px;
         &:before {
           content: "";
           display: inline-block;
           width: 34px;
           height: 32px;
           background-image: asset-url('arrow.png');
           background-repeat: no-repeat;
           background-size: contain;
         }
       }
     }
   }
   .tasucaru-service {
     color: white;
     padding-top: 175px;
     h2 {
       color: white;
     }
     .service {
       margin-bottom: 12px;
     }
     .right {
       text-align: center;
       padding-top: 167px;
       .top-apply {
         padding: 24px;
         font-size: 28px;
       }
     }
   }
   .tasucaru-points {
     color: #4A4A4A;
     .point {
       display: flex;
       justify-content: space-around;
       width: 100%;
       margin-bottom: 64px;
       .point-img {
         width: 30%;
         img {
           width: 100%;
         }
       }
       .point-explain {
         display: flex;
         flex-direction: column;
         width: 50%;
         .point-title {
           font-size: 48px;
           margin-bottom: 36px;
         }
         .point-message {
           font-size: 28px;
         }
       }
     }
   }
   .tasucaru-example {
     background-color: $theme;
     color: white;
     h2 {
       color: white;
     }
     .example-content {
       .explain {
         margin-bottom: 24px;
       }
       .examples {
         display: flex;
         flex-wrap: wrap;
         .example {
           width: 25%;
           margin: 0 2% 24px;
           img {
             width: 100%;
             height: 240px;
             object-fit: cover;
             border-radius: 5px;
           }
           .explanation {
             text-align: center;
             font-weight: bold;
           }
         }
       }
     }
   }
   .tasucaru-price {
     table {
       width: 100%;
       font-size: 16px;
       text-align: center;
       margin-top: 63px;
     }
     .explanation {
       margin-top: 8px;
       font-size: 14px;
     }
   }
   .tasucaru-place {
     img {
       width: 70%;
       object-fit: cover;
       object-position: center;
       display: block;
       margin: 0 auto;
     }
     .place {
       font-weight: bold;
       margin-top: 24px;
     }
     .explanation {
       font-size: 16px;
     }
   }
   .tasucaru-flow {
     display: block;
     padding-bottom: 0;
     margin-bottom: 0;
     max-width: none;
     .flex {
       display: flex;
       max-width: 1200px;
       margin: 0 auto;
     }
     ul {
       list-style: none;
       padding-left: 0;
       margin-bottom: 16px;
       font-size: 20px;
     }
     .right {
       img {
         height: 500px;
         object-fit: contain;
       }
     }
   }
 }
