@import "loader";

 #demo-index {
   .top-image {
     width: 100%;
     margin-bottom: 12px;
   }

   .apply-button {
     margin-top: 12px;
   }

   .section {
     padding: 120px 0 200px;
     display: flex;
     max-width: 1000px;
     margin: 0 auto 36px;
     h2 {
        color: $theme;
        margin: 0 0 16px 0;
        font-size: 40px;
     }
     .left, .right {
       width: 50%;
       padding: 20px;
       img {
         width: 100%;
       }
     }
     .explain {
       font-size: 20px;
       line-height: 170%;
     }
   }
   .tasucaru-service {
     .service {
       margin-bottom: 12px;
     }
   }
   .tasucaru-points {
     .points {
       display: flex;
       justify-content: space-between;
       .point {
         width: 28%;
         margin: 0 2%;
         .point-image {
           width: 100%;
           border-radius: 50%;
           position: relative;
           height: auto;
           &:before {
             content: "";
             display: block;
             padding-top: 100%;
           }
           img {
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             border-radius: 50%;
             object-fit: cover;
           }
         }
         .small-title {
           font-size: 16px;
           font-weight: bold;
           text-align: center;
         }
         .explanation {
           font-size: 14px;
           text-align: center;
         }
       }
     }
   }
   .tasucaru-example {
     .right {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       .example {
         width: 30%;
         margin: 0 1%;
         img {
           width: 100%;
           height: 200px;
           object-fit: contain;
         }
         .explanation {
           text-align: center;
           font-weight: bold;
         }
       }
     }
   }
   .tasucaru-price {
     table {
       width: 100%;
       font-size: 16px;
       text-align: center;
       margin-top: 63px;
     }
     .explanation {
       margin-top: 8px;
       font-size: 14px;
     }
   }
   .tasucaru-place {
     img {
       width: 70%;
       object-fit: cover;
       object-position: center;
       display: block;
       margin: 0 auto;
     }
     .place {
       font-weight: bold;
       margin-top: 24px;
     }
     .explanation {
       font-size: 16px;
     }
   }
   .tasucaru-flow {
     display: block;
     padding-bottom: 0;
     margin-bottom: 0;
     max-width: none;
     .flex {
       display: flex;
       max-width: 1000px;
       margin: 0 auto;
     }
     ul {
       list-style: none;
       padding-left: 0;
       margin-bottom: 16px;
     }
     .right {
       img {
         height: 500px;
         object-fit: contain;
       }
     }
   }
 }
