@import "loader";

 #demo-index {
   .top-image {
     width: 100%;
     margin-bottom: 12px;
   }

   .apply-button {
     margin-top: 12px;
   }

   .section {
     margin-bottom: 36px;
     h2 {
        text-decoration: underline;
        color: $theme;
     }

   }
   .tasucaru-points {
     .points {
       display: flex;
       justify-content: space-between;
       .point {
         width: 28%;
         margin: 0 2%;
         .point-image {
           width: 100%;
           border-radius: 50%;
           position: relative;
           height: auto;
           &:before {
             content: "";
             display: block;
             padding-top: 100%;
           }
           img {
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             border-radius: 50%;
             object-fit: cover;
           }
         }
         .small-title {
           font-size: 16px;
           font-weight: bold;
           text-align: center;
         }
         .explanation {
           font-size: 14px;
           text-align: center;
         }
       }
     }
   }
   .tasucaru-example {
     .examples {
       display: flex;
       justify-content: space-between;
       .example {
         width: 18%;
         margin: 0 1%;
         img {
           width: 100%;
           height: 200px;
           object-fit: contain;
         }
         .explanation {
           text-align: center;
           font-weight: bold;
         }
       }
     }
   }
   .tasucaru-price {
     table {
       width: 100%;
       font-size: 16px;
       text-align: center;
     }
     .explanation {
       margin-top: 8px;
       font-size: 14px;
     }
   }
   .tasucaru-place {
     img {
       width: 70%;
       object-fit: cover;
       object-position: center;
       display: block;
       margin: 0 auto;
     }
     .place {
       font-weight: bold;
     }
     .explanation {
       font-size: 16px;
     }
   }
   .tasucaru-flow {
     ul {
       list-style: none;
       padding-left: 0;
     }
   }
 }
